= content_for :js_for_head do
  :javascript
    Ciclavia.PageData = {
      events: #{SuperEvent.order("created_at ASC").all.to_json },
      midpoint: #{[Place.last.lat, Place.last.lng]},
      layers: #{Layer.all.to_json}
    }

#map
.map-ciclavialogo
.mapnav-container
  .mapnav-title Guide to CicLAvia

  - SuperEvent.limit(1).each do |event|
    .mapnav-event.nextup{:data => { :id => event.id }}
      = render partial: 'navevent', locals: { event: event }


  .mapnav-previousevents
    .mapnav-sectionlabel Previous events

    - SuperEvent.order("created_at DESC").limit(1).each_with_index do |event, index|
      .mapnav-event{:data => { :id => event.id }}
        = render partial: 'navevent', locals: { event: event }
