= content_for :js_for_head do
  :javascript
    Ciclavia.PageData = {
      events: #{SuperEvent.order("created_at ASC").all.map { |event| event.to_json } },
      midpoint: #{[Place.last.lat, Place.last.lng]}
    }

#placemodal
  %h1 NoHo Gateway
  %img{src: '/poop.png'}
  %p NoHo Gateway is the entrance to one of the last remaining hipster colonies in Los Angeles.
  

#map
.map-ciclavialogo
.mapnav-container
  .mapnav-title Guide to CicLAvia

  - SuperEvent.limit(1).each do |event|
    .mapnav-event.nextup
      %dl{:data => { :id => event.id }}
        %dt= event.name
        %dd
          = event.date.strftime("%B %d, %Y")
          .mapnav-eventdesc The most walkable CicLAvia to date!

      %ul.mapnav-expandedcontent
        - event.layers.each do |layer|
          %li
            = layer.name
            %input{type: 'checkbox'}


  .mapnav-previousevents
    .mapnav-sectionlabel Previous events

    - SuperEvent.order("created_at ASC").all.each_with_index do |event, index|
      .mapnav-event
        %dl{:data => { :id => event.id }}
          %dt= event.name
          %dd= event.date.strftime("%B %d, %Y")

        %ul.mapnav-expandedcontent
          - event.layers.each do |layer|
            %li
              = layer.name
              %input{type: 'checkbox'}
