= content_for :js_for_head do
  :javascript
    Ciclavia.PageData = {
      events: #{SuperEvent.order("created_at ASC").all.map { |event| event.to_json } },
      midpoint: #{Route.last.try(:midpoint)}
    }

#map
.mainbuttons
  #submit-mode-button.btn.blue Submit your own route
  #submit-mode-done-button.btn.green.hidden I'm done entering my route
  #submit-mode-cancel-button.btn.yellow.hidden Cancel route submission

.map-ciclavialogo
.mapnav-container
  .mapnav-title Guide to CicLAvia

  - SuperEvent.limit(1).each do |event|
    .mapnav-event.nextup
      %dl{:data => { :id => event.id }}
        %dt= event.name
        %dd
          = event.date.strftime("%B %d, %Y")
          .mapnav-eventdesc The most walkable CicLAvia to date!

      %ul.mapnav-expandedcontent
        - event.routes.each do |route|
          %li
            Event details
            %input{type: 'checkbox'}
          %li
            Neighborhood guide
            %input{type: 'checkbox'}

  .mapnav-previousevents
    .mapnav-sectionlabel Previous events

    - SuperEvent.order("created_at ASC").all.each_with_index do |event, index|
      .mapnav-event
        %dl{:data => { :id => event.id }}
          %dt= event.name
          %dd= event.date.strftime("%B %d, %Y")