= content_for :js_for_head do
  :javascript
    Ciclavia.PageData = {
      events: #{SuperEvent.order("created_at ASC").all.to_json },
      layers: #{Layer.all.to_json},
      routes: #{Route.all.to_json}
    }

#map
.map-ciclavialogo
.mapnav-container
  .mapnav-title Guide to CicLAvia <span>beta</span>
  - if !SuperEvent.any?
    .padded    
      No events currently listed
  - else
    .mapnav-event.nextup{:data => { :id => SuperEvent.default.id }}
      = render partial: 'navevent', locals: { event: SuperEvent.default }

    - if SuperEvent.count > 1
      .mapnav-previousevents
        .mapnav-sectionlabel Previous events

        - SuperEvent.where.not(id: SuperEvent.default.id).order("date DESC").limit(1).each_with_index do |event, index|
          .mapnav-event{:data => { :id => event.id }}
            = render partial: 'navevent', locals: { event: event }

  .mapnav-sitelink
    = link_to "Back to CicLAvia.org", 'http://ciclavia.org'

  .mapnav-disclaimer
    Please respect the safety of other cyclists. Do not use this app while in motion.