= content_for :js_for_head do
  :javascript
    Ciclavia.PageData = {
      events: #{Event.all.map { |event| event.to_json } },
      midpoint: #{Route.last.try(:midpoint)}
    }

#map
.mainbuttons
  #submit-mode-button.btn.blue Submit your own route
  #cancel-submit-mode-button.btn.yellow.hidden Cancel route submission

.map-ciclavialogo
.mapnav-container
  .mapnav-searchbar
    %input{ type: :text, placeholder: "Find a route" }

  - Event.all.each_with_index do |event, index|
    .mapnav-event
      .mapnav-pindropicon
      %dl{:data => { :id => event.id }}
        %dt= event.name
        %dd= event.date.strftime("%B %d, %Y")

      %ul.mapnav-routes
        - event.routes.each do |route|
          %li
            .mapnav-routeicon
            = route.name