<div id="dialogue">
  <div class="dialogue-close"></div>
  <div class="dialogue-title">{{name}}</div>
  <div class="dialogue-subtitle">Submitted by Stephen Corwin</div>
  <table class="dialogue-details">
    <tr>
      <td>Departure time</td>
      <td>{{departsAt}}</td>
    </tr>
    <tr class="dialogue-departurelocation">
      <td>Meets at</td>
      <td>{{meetingPoint}}</td>
    </tr>
  </table>

  <p class="dialogue-description">{{description}}</p>
  <textarea class="dialogue-descriptioninput hidden">{{description}}</textarea>
</div>