<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= render partial: "remote_styles" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= render partial: "js/fonts" %>
  <%= render partial: "remote_scripts" %>
  <%= render partial: "js_init" %>
  <%= yield :js_for_head %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="http://d3n8a8pro7vhmx.cloudfront.net/ciclavia/sites/3/favicon_images/original/ciclaviafavicon.png?1432749528"/>
  <%= render 'layouts/opengraphtags' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- JS that needs to be updated on each page -->
    <%= render partial: "js_globals" %>
  <!-- END -->

  <%= yield %>
</body>
</html>
